<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/cropsStyle.css">
    <link rel="icon" type="image/x-icon" href="imgs/logo.png">
    <link rel="stylesheet" href="https://fontawesome.com">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title><Organix></title>
</head>

<body>
    <div class="container-fluid add">
        <header class="d-flex">
            <a href="#" class="logo">SMART FARM</a>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="crops.html">Crops</a></li>
                <li><a href="detect.html">Detect</a></li>
                <li><a href="myFarm.html">My Farm</a></li>
                <li>
                    <a href="profile.html">
                        <div class="profile-icon" id="profile-icon"></div>
                    </a>
                </li>
            </ul>
        </header>
        <div class="main-add">
            <form class="form-add">
                <div class="div">
                    <h2 class="add-crop">ADD New Crop</h2>
                    <input type="text" placeholder="Name" class="crop-name" id="crop-name" name="crop-name">
                    <input type="text" name="crop-type" id="crop-type" placeholder="Type">
                    <input type="date" name="date-add" id="date-add" placeholder="Date">
                    <button type="submit" class="btn-add">Add</button>
                </div>

            </form>

        </div>
    </div>
    <script src="js/all.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>