
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/cropsStyle.css">
    <link rel="icon" type="image/x-icon" href="imgs/logo.png">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/nav.css">

    <link rel="stylesheet" href="https://fontawesome.com">

    <title>plantnfo</title>

</head>

<body>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="imgs/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      SMART FARM
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link  " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="/plant">Crops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " href="#">Detect</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " href="/farms">My Farm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " href="/about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " href="/profile">Profile</a>
          </li>
         
        </ul>
       
      </div>
    </div>
  </nav>
  
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="info">
                    <div class="details-info">
                        <div class="crop-detail" id="cropDetail">
                            <div class="detail-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="imgs/apple.png" alt="crop Image" id="cropImage" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 crop-info">
                                        <h2 id="cropName">Apple</h2>
                                        <div id="cropDuration" class="details">
                                            <img src="imgs/duration.png" alt="duration"> Duration:360 day
                                        </div>
                                        <div id="cropDepth" class="details">
                                            <img src="imgs/depth.png" alt="depth"> Depth: 30 cm
                                        </div>
                                        <div id="cropDuration" class="details">
                                            <img src="imgs/watering.png" alt="watering"> Watering:every 7 day
                                        </div>
                                        <div id="cropSowing" class="details">
                                            <img src="imgs/sowing.png" alt="sowing"> Sowing type:Black clay
                                        </div>
                                        <div id="cropType" class="details">
                                            <img src="imgs/type.png" alt="type"> Type:fruit
                                        </div>
                                        <div id="cropSession" class="details">
                                            <img src="imgs/session.png" alt="session"> Session:spring
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/all.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>