<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../public/css/cropsStyle.css">
    <link rel="icon" type="image/x-icon" href="imgs/logo.png">
    <link rel="stylesheet" href="https://fontawesome.com">
    <link rel="stylesheet" href="../public/css/all.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>Organix</title>
</head>

<body>
    <div class="container-fluid myfarm">
   
        <div class="row">
            <div class="col-md-3">
                <div class="farms-sidebar">
                    <div class="links">
                        <h2>My Farms</h2>
                        <a href="#"><button class="btn-farm">Farm1</button></a>
                        <a href="#"><button class="btn-farm">Farm2</button></a>
                    </div>
                    <a href="addNewFarm.html"><button class="btn-add-farm">Add</button></a>
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="farm-number">My Farm 1</h2>
                <div class="farm-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="product-body">
                                <img src="../public/imgs/banana.jpg" alt="Banana" class="img-fluid product-image" style="height: 260px;">
                                <h5 class="product-title">Banana</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="product-body">
                                <img src="../public/imgs/apple.png" alt="Apple" class="img-fluid product-image" style="height: 260px;">
                                <h5 class="product-title">Apple</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="product-body">
                                <img src="../public/imgs/grapes.jpeg" alt="Grapes" class="img-fluid product-image" style="height: 260px;">
                                <h5 class="product-title">Grapes</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="product-body">
                                <img src="../public/imgs/watermelon.png" alt="Watermelon" class="img-fluid product-image" style="height: 260px;">
                                <h5 class="product-title">Watermelon</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="product-body">
                                <img src="../public/imgs/strawberry.png" alt="Strawberry" class="img-fluid product-image" style="height: 260px;">
                                <h5 class="product-title">Strawberry</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <a href="addNewProduct.html" class="d-flex justify-content-center align-items-center h-100">
                                <div class="circular-icon">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src=" ../public/js/all.min.js"></script>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>
</html>