<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/cropsStyle.css">
    <link rel="icon" type="image/x-icon" href="imgs/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Organix</title>
</head>

<body class="login-page">

    <div class="container-fluid forget-pass">
        <div class="row">

            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="imgs/login.png" alt="Login Image" class="img-fluid" style="height: 770px;">
            </div>

            <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center">
                <div class="form-container">
                    <form id="forgetPass-form">
                        <h1 class="font-weight-bold">Password reset </h1>
                        <p>We sent a code to email you enterd. <br>Please, chech your email box</p>
                        <div class="inputField">
                            <div class="form-group">
                                <div class="input-group">
                                    
                                    <input type="text" class="form-control"  placeholder="Enter received code"
                                        required>
                                </div>
                            </div>
                            <button type="submit" class="btn-reset">Continue</button>
            
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</body>

</html>