<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/all.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/nav.css">
    
	<title>About Us</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    /* Global Styles */
    
    body {
        font-family: Arial, sans-serif;
    }
    
    /* Header */
    
    header {
        background-color: white;
        color: rgb(0, 0, 0);
        padding: 10px 0;
        position: fixed;
        width: 100%;
        z-index: 100;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px auto;
        padding: 0 20px;
    }
    
    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: #40b736;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
    }
    
    .nav-links li {
        margin-right: 20px;
    }
    
    .nav-links a {
        color: rgb(0, 0, 0);
        padding: 10px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .nav-links a:hover {
        background-color: #40b736;
        border-radius: 4px;
        color: white;
    }
    
    /* About Section */
    
    .about {
        background-color: #ebe8e8;
        background: linear-gradient(360deg, rgb(245, 255, 245) 0%,#ebe8e8 100%);
        padding: 100px 0 20px 0;
        text-align: center;
    }
    
    .about h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    .about p {
        font-size: 1rem;
        color: #323030;
        max-width: 800px;
        margin: 0 auto;
    }
    
    .about-info {
        margin: 2rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    
    .about-img {
        width: 25rem;
        height: 15rem;
    
    }
    
    .about-img img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: contain;
    }
    
    .about-info p {
        font-size: 1.5rem;
        margin: 0 2rem;
        text-align: justify;
    }
    
    button {
        border: none;
        outline: 0;
        padding: 10px;
        margin: 2rem;
        font-size: 1rem;
        color: white;
        background-color: #40b736;
        text-align: center;
        cursor: pointer;
        width: 15rem;
        border-radius: 4px;
    }
    
    button:hover {
        background-color: #1f9405;
    }
    
    /* Team Section */
    
    .team {
        padding: 30px 0;
        text-align: center;
    }
    
    .team h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    
    .team-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }
    
    .card {
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        transition: transform 0.2s, box-shadow 0.2s;
        width: 18rem;
        height: 25rem;
        margin-top: 10px;
    }
    
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    }
    
    .card-img {
        width: 18rem;
        height: 12rem;
    }
    
    .card-img img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .card-info button {
        margin: 2rem 1rem;
    }
    
    .card-name {
        font-size: 2rem;
        margin: 10px 0;
    }
    
    .card-role {
        font-size: 1rem;
        color: #888;
        margin: 5px 0;
    }
    
    .card-email {
        font-size: 1rem;
        color: #555;
    }
    
    /* Footer */
    footer {
        background-color: #222;
        color: white;
        text-align: center;
        padding: 20px 0;
    }
    
    @media (max-width: 768px) {
        nav {
            display: block;
        }
    
        .logo {
            text-align: center;
        }
    
        .nav-links {
            margin-top: 1rem;
            justify-content: space-between;
        }
    
        .nav-links li {
            margin-right: 0;
        }
    
        .about h1 {
            font-size: 2rem;
        }
    
        .about p {
            font-size: 0.9rem;
        }
    
        .about-info {
            flex-direction: column;
            text-align: center;
        }
    
        .about-img {
            width: 60%;
            height: 60%;
            margin-bottom: 1rem;
        }
    
        .about-info p {
            margin: 1rem 2rem;
        }
    
        .about-info button {
            margin: 1rem 2rem;
            width: 10rem;
        }
    
        .team {
            margin: 0 1rem;
        }
    }
    
</style>
<body>
	
    <%-include('../includes/nav.ejs')%>

	<section class="about">
		
		<p style="font-weight: bold; margin-top:30px;">
		Smart Farm  is a monitoring platform...
		</p>
		<div class="about-info">
			<div class="about-img">
				<img src=
"imgs/index.png" alt="smart farm">
			</div>
			<div>
			<p>   
                this website helps you to monitor irrigation of  your farm, detect Powdery and Rust disease, Know Weather condition and regular crops planted in the system in each season and know crops Agriculture Information .....  
			</p>
				
			</div>
		</div>
	</section>

	<section class="team">
		<h1>Meet Our Team</h1>
		<div class="team-cards">
		
			<!-- Cards here -->
			<!-- Card 1 -->
		
			<div class="card">
				<div class="card-img">
					<img src=
"imgs/f.jpg" alt="User 1">
				</div>
				<div class="card-info">
					<h2 class="card-name">Eman</h2>
					<p class="card-role">Leader</p>
					<p class="card-email">wafaakadry756@gmail.com</p>
					<a href="mailto:wafaakadry756@gmail.com?subject=Contact%20Us&body=Hello,%20I%20would%20like%20to%20inquire%20about..." ><button class="button">Contact</button></p> </a>
				</div>
			</div>

			<!-- Card 2 -->
		
	
		
			<!-- Card 3 -->
		
			<div class="card">
				<div class="card-img">
					<img src=
"/imgs/icon2.jpg" alt="User 3">
				</div>
				<div class="card-info">
					<h2 class="card-name">Walaa</h2>
					<p class="card-role">Back End</p>
					<p class="card-email">walaaabdelhady889@gmail.com</p>
					<a href="mailto:walaaabdelhady889@gmail.com?subject=Contact%20Us&body=Hello,%20I%20would%20like%20to%20inquire%20about..." ><button class="button">Contact</button></p> </a>
				</div>
			</div>

            <div class="card">
				<div class="card-img">
					<img src=
"/imgs/mariam.jpg" alt="User 2">
				</div>
				<div class="card-info">
					<h2 class="card-name">mariam</h2>
					<p class="card-role">Designer</p>
					<p class="card-email">youma9104@gmail.com</p>
                    
					<a href="mailto:youma9104@gmail.com?subject=Contact%20Us&body=Hello,%20I%20would%20like%20to%20inquire%20about..." ><button class="button">Contact</button></p> </a>
				</div>
			</div>
            <div class="card">
				<div class="card-img">
					<img src=
                        "/imgs/icon2.jpg" alt="User 3">
				</div>
				<div class="card-info">
					<h2 class="card-name">Doaa</h2>
					<p class="card-role">FrontEnd</p>
					<p class="card-email">doaaothman292002@gmail.com</p>
					<a href="mailto:doaaothman292002@gmail.com?subject=Contact%20Us&body=Hello,%20I%20would%20like%20to%20inquire%20about..." ><button class="button">Contact</button></p> </a>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<p>© 2024 smart farm. All Rights Reserved.</p>
	</footer>
</body>

</html>
