<%-include('../includes/head.ejs')%>



</head>

<body>
    <div class="container-fluid index  d-flex flex-column index">
        <%-include('../includes/nav.ejs')%>
    
        <div class="shadow">
                <p>
                   Welcome to you in our website 
                  
                </p>
        <p> we provide the best garden care & service for you</p>
    </div>
    </div>
    <script src="/js/all.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>

